PORT=4400

DB_HOST=localhost
DB_PORT=5432
DB_USER=v12_user
DB_PASSWORD=TroqueEstaSenhaForte_2026
DB_DATABASE=db_v12

CHAVE_TOKEN=tokenComunicacaoInternaBackComFront
CORS_ORIGINS=http://localhost:3000,http://localhost:5173
