TZ=America/Sao_Paulo
NODE_ENV=production

POSTGRES_USER=v12_user
POSTGRES_PASSWORD=troque-esta-senha-forte
POSTGRES_DB=db_v12
POSTGRES_EXPOSE_PORT=5435

API_PORT=4000
API_EXPOSE_PORT=4000
PAYMENTS_PORT=4200
PAYMENTS_EXPOSE_PORT=4200
ACBR_PORT=4100
ACBR_EXPOSE_PORT=4100
FRONT_EXPOSE_PORT=3000
NPM_EXTERNAL_NETWORK=nginx-proxy-manager_default

CHAVE_TOKEN=troque-esta-chave-longa-em-producao
PAYMENTS_SERVICE_TOKEN=troque-este-token-interno-em-producao
COOKIE_DOMAIN=v12.jhes.com.br
COOKIE_SECURE=true
COOKIE_SAME_SITE=lax

CORS_ORIGINS=https://v12.jhes.com.br
VITE_API_URL=/api
VITE_ACBR_API_URL=/acbr
ACBRLIB_ENABLED=false
ACBRLIB_PATH=
ACBRLIB_CONFIG_DIR=./config/acbrlib
ACBRLIB_TEMP_DIR=./temp
