# Microservico ACBR
PORT=4100

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=123456
DB_DATABASE=database_v12

# Deve ser a mesma chave do backend principal
CHAVE_TOKEN=sua_chave_jwt_compartilhada_com_o_backend
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

ACBRLIB_ENABLED=false
ACBR_DEBUG_CONFIG=false
ACBRLIB_PATH=./lib/ACBrLibNFE/linux/mt/libacbrnfe64.so
ACBRLIB_CONSULTA_CNPJ_PATH=./lib/ACBrLibConsultaCNPJ/ST/libacbrconsultacnpj64.so
ACBRLIB_CONFIG_DIR=./config/acbrlib
ACBRLIB_TEMP_DIR=./temp
ACBRLIB_SCHEMA_PATH=./lib/ACBrLibNFE/dep/Schemas
ACBR_CONSULTA_CNPJ_PROVIDER=1
ACBR_CONSULTA_CNPJ_USUARIO=
ACBR_CONSULTA_CNPJ_SENHA=
