V12_LOCAL_PORT=5100
V12_LOCAL_DB_PATH=./data/v12-pdv.sqlite
V12_ERP_API_URL=https://v12.jhes.com.br/api
V12_ERP_SYNC_TOKEN=troque-este-token
V12_ESTACAO_NOME=Caixa 01
V12_LOJA_ID=
V12_ACBR_MODE=monitor
V12_ACBR_MONITOR_HOST=127.0.0.1
V12_ACBR_MONITOR_PORT=3434
